  <!--[if lt IE 9]>
  <script src="../../javascripts/vendor/html5shiv.js" type="text/javascript"></script>
  <script src="../../javascripts/vendor/excanvas.js" type="text/javascript"></script>
  <![endif]-->
{% import "macros/resources.html" as js %}
{{js.baseless_script('http://code.jquery.com/jquery-1.9.1.js')}}
{{js.baseless_script('http://code.jquery.com/ui/1.10.2/jquery-ui.js')}}
{{js.baseless_script('https://js.stripe.com/v2/')}}
{{js.baseless_script('http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js')}}
{{js.baseless_script('http://code.highcharts.com/highcharts.js')}}
{{js.baseless_script('http://code.highcharts.com/modules/exporting.js')}}
{{js.baseless_script('http://js.pusher.com/2.0/pusher.min.js')}}
{{js.script('/stripe.js')}}
{{js.script('/cookie.js')}}
{{js.script('/application.js')}}
{{js.script('/wizard.js')}}
{{js.script('/jquery.handsontable.full.js')}}
{{js.script('/metro.js')}}
{{js.script('/PusherNotifier.js')}}
{{js.script('/uploader/dropzone.min.js')}}
{{js.script('/modal.js')}}

<script>
    var wizard = $("#some-wizard").wizard();
</script>

