<div class="box closable-chat-box">
  <div class="box-content padded">

    <div class="fields">
      <div class="avatar"><img class="avatar-small" data-bind="attr : {src: userProfile.user().picture }" /></div>
      <ul>
        <li><b>Add a comment for project <a href="#">for SEO Agents</a></b></li>
        <li class="note">Click on the textarea below to expand it!</li>
      </ul>
    </div>

    <form class="fill-up" action="/">

      <div class="chat-message-box">
        <textarea name="ttt" id="ttt" rows="5" placeholder="add a comment (click to expand!)"></textarea>
      </div>

      <div class="clearfix actions">
        <div class="pull-right faded-toolbar">
          <a href="#" class="btn btn-blue btn-mini send-comment" data-bind="click: sendComment">Send</a>
        </div>
      </div>
    </form>

  </div>
</div>