<ul class="chat-box timeline" data-bind="foreach: {data: comments, afterAdd:slideDown, beforeRemove: slideUp}">
  <li class="arrow-box-left gray">
    <div class="avatar"><img class="avatar-small" data-bind="attr : {src: picture}" /></div>
    <div class="info">
      <span class="name">
        <span class="label label-green">COMMENT</span> <strong class="indent"><span data-bind="text: name"></span></strong>
      </span>
    </div>
    <div class="content">
      <blockquote data-bind="html: message">

          
          
      </blockquote>
 
    </div>
  </li>

</ul>