 <div class="area-top clearfix" id="titleBar">
        <div class="pull-left header">
         <!-- <h3 class="title" data-bind="text : dashboard.sectionName"> -->
            <i class="icon-dashboard"></i>
            
          </h3>
          <h5>
          <div></div> 
          </h5>
       
        </div>
              <ul class="inline pull-left sparkline-box">

          <li class="sparkline-row">
            <h4 class="blue"><span>Alexa Global Rank</span><div  data-bind="text: seoData().alexaGlobalPageRank">0</div>  </h4>
          </li>
        <li class="sparkline-row">
            <h4 class="blue"><span>Alexa Country Rank</span><div  data-bind="text: seoData().alexaCountryPageRank">0</div>  </h4>
          </li>
           <li class="sparkline-row">
            <h4 class="blue"><span>Alexa Backlink Count</span><div  data-bind="text: seoData().alexaBackLinkCount">0</div>  </h4>
          </li> 
          <li class="sparkline-row">
            <h4 class="green"><span>Google Page Rank</span><div  data-bind="text: seoData().googlePageRank">0</div> </h4>
          </li>


        </ul>
    
        <ul class="inline pull-right sparkline-box">
      <li class="sparkline-row">
            <h4 class="blue"><span>Organic Searches</span><div  data-bind="text: totalsForAllResults().organicSearches">0</div> </h4>
          </li>
    <li class="sparkline-row">
            <h4 class="blue"><span>Exit Rate</span><div  data-bind="text: totalsForAllResults().exitRate">0</div> </h4>
          </li>
    <li class="sparkline-row">
            <h4 class="blue"><span>Entrance Bounce Rate</span><div  data-bind="text: totalsForAllResults().entranceBounceRate">0</div> </h4>
          </li>
          <li class="sparkline-row">
            <h4 class="blue"><span>Bounces</span><div  data-bind="text: totalsForAllResults().bounces">0</div> </h4>
          </li>

     
        </ul>
        
      </div>
      
