<div class="wizard" id="some-wizard">
 
    <h1>Budget Management </h1>
 
    <div class="wizard-card" data-cardname="card0">
        <h3>Create A Budget</h3>


<input type="text" name="budgetAmount" type="text">
<form action="" method="POST" id="payment-form">
  <span class="payment-errors"></span>

  <div class="form-row">
    <label>
      <span>Card Number</span>
      <input type="text" size="20" data-stripe="number" value="4242424242424242"/>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>CVC</span>
      <input type="text" size="4" data-stripe="cvc" value="123"/>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>Expiration (MM/YYYY)</span>
      <input type="text" size="2" data-stripe="exp-month" value="11"/>
    </label>
    <span> / </span>
    <input type="text" size="4" data-stripe="exp-year" value="14"/>
  </div>

 <a class="btn btn-primary" data-bind="click: addPaymentInformation">Submit</a>

</form>

  <a class="btn btn-primary" data-bind="click: setBudgetPlan">Set Plan</a>


    </div>
 
    <div class="wizard-card" data-cardname="card2">
        <h3>Allocate Budget To Services</h3>
        Some other content
    </div>
 
</div>
















<div id="static" class="modal hide fade " tabindex="-1" data-backdrop="static" data-keyboard="false">
  <div class="modal-body">
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
<div class="row">
    <div class="span6">
		
		<table class="table table-condensed table-hover">
			<thead>
				<tr>
					<th> </th>
					<th>Level 1</th>
					<th>Level 2</th>
					<th>Level 3</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Link Building</td>
					<td>1</td>
					<td>2</td>
					<td>3</td>
				</tr>
				<tr>
					<td>Directory Management</td>
					<td>1</td>
					<td>2</td>
					<td>3</td>
				</tr>
				<tr>
					<td>Article Management</td>
					<td>1</td>
					<td>2</td>
					<td>4</td>
				</tr>
				<tr>
					<td>Onsite Management</td>
					<td>1 site</td>
					<td>2 sites</td>
					<td>1 site</td>
				</tr>
				<tr>
					<td>Support</td>
					<td>2 hours</td>
					<td>48 hours</td>
					<td>Monthly</td>
				</tr>
		
				<tr>
					<td> </td>
					<td><a class="btn btn-success" href="#buy" data-toggle="modal"><i class="icon-shopping-cart icon-white"></i> Order »</a></td>
					<td><a class="btn btn-success" href="#buy" data-toggle="modal"><i class="icon-shopping-cart icon-white"></i> Order »</a></td>
					<td><a class="btn btn-success" href="#buy" data-toggle="modal"><i class="icon-shopping-cart icon-white"></i> Order »</a></td>
				</tr>
			</tbody>
		</table>
 
	</div>
</div>
   
   
   
   
   
   
   
   
   
   
   
   
   
   
  </div>
  <div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn">Cancel</button>
    <button type="button" data-dismiss="modal" class="btn btn-primary">Continue Task</button>
  </div>
</div>





<div id="buy" class="modal hide fade" tabindex="-1" data-focus-on="input:first">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Stack Two</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
    <p>One fine body…</p>
    <input type="text" data-tabindex="1">
    <input type="text" data-tabindex="2">
    <button class="btn" data-toggle="modal" href="#stack3">Launch modal</button>
  </div>
  <div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn">Close</button>
    <button type="button" class="btn btn-primary">Ok</button>
  </div>
</div>