<div class="box">
  <div class="box-header">
    <div class="title">Charts</div>
    <ul class="box-toolbar">
      <li class="toolbar-link">
        <a href="#" data-toggle="dropdown"><i class="icon-cog"></i></a>
        <ul class="dropdown-menu">
          <li><a href="#"><i class="icon-plus-sign"></i> Add</a></li>
          <li><a href="#"><i class="icon-remove-sign"></i> Remove</a></li>
          <li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="box-content padded">
    <div class="row-fluid">
      <div class="span4 separate-sections" style="margin-top: 5px;">
        <div class="row-fluid">
          <div class="span12">
            <div class="dashboard-stats">
              <ul class="inline">
                <li class="glyph"><i class="icon-bolt icon-2x"></i></li>
                <li class="count"><div data-bind = "text: visitors"></div></li>
              </ul>
              <div class="progress progress-blue"><div class="bar tip" title="100%" data-percent="100"></div></div>
              <div class="stats-label">Total Visits</div>
            </div>
          </div>
        </div>

        <div class="row-fluid" style="margin-top:30px;">
          <div class="span6">
            <div class="dashboard-stats small">
              <ul class="inline">
                <li class="glyph"><i class="icon-user"></i></li>
                <li class="count"><div data-bind = "text: newVisits"></div></li>
              </ul>
              <div class="progress progress-blue"><div class="bar tip"  data-bind="style: { width: newVisitsPercent }, attr: {'data-original-title' : newVisitsPercent }"></div></div>
              <div class="stats-label">New Visitors</div>
            </div>
          </div>

          <div class="span6">
            <div class="dashboard-stats small">
              <ul class="inline">
                <li class="glyph"><i class="icon-user"></i></li>
                <li class="count"><div data-bind = "text: oldVisits"></div></li>
              </ul>
              <div class="progress progress-blue"><div class="bar tip" data-bind="style: { width: oldVisitsPercent }, attr: {'data-original-title' : oldVisitsPercent }"></div></div>
              <div class="stats-label">Returning Visitors</div>
            </div>
          </div>
        </div>

      </div>
      <div class="span8">
        <div class="sine-chart" id="chart1"></div>
      </div>
    </div>
  </div>
</div>


<div class="box">
  <div class="box-header">
    <div class="title">Charts</div>
    <ul class="box-toolbar">
      <li class="toolbar-link">
        <a href="#" data-toggle="dropdown"><i class="icon-cog"></i></a>
        <ul class="dropdown-menu">
          <li><a href="#"><i class="icon-plus-sign"></i> Add</a></li>
          <li><a href="#"><i class="icon-remove-sign"></i> Remove</a></li>
          <li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
