<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800">
   <meta charset="utf-8">

  <!-- Always force latest IE rendering engine or request Chrome Frame -->
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

  <!-- Use title if it's in the page YAML frontmatter -->
  <title>SEOAgent Login</title>

  <link href="{{ base_css() }}/application.css" media="screen" rel="stylesheet" type="text/css" />

  <!--[if lt IE 9]>
  <script src="../../javascripts/vendor/html5shiv.js" type="text/javascript"></script>
  <script src="../../javascripts/vendor/excanvas.js" type="text/javascript"></script>
  <![endif]-->

  <script src="{{ base_js() }}/application.js" type="text/javascript"></script>
</head>
<body>
{% if user.is_loggedin %}
{% include 'navigations/logged-navigation.html' %}
{% else %}
{% include 'navigations/default-navigation.html' %}
{% endif %}
<div class="container">
{% block content %}
{% endblock %}
</div>
</body>
</html>
