<!doctype html>
<html>
<head>
  {% include 'resources/meta/meta.html' %}
  <title>SEO Agent Pro</title>
  {% include 'resources/stylesheets/header-stylesheets.html' %}
  {% include 'resources/javascripts/header-javascripts.html' %}
</head>
<body>
{% include 'resources/javascripts/body-javascripts.html' %}
{% include 'navigations/default-navigation.html' %}
{% block sidebar %}
{% endblock sidebar %}
<div class="main-content">
{% block content %}
{% endblock content %}
</div>
{% include 'resources/javascripts/footer-javascripts.html' %}
</body>
</html>
