<div class="navbar navbar-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">

      <a class="brand" href="#">SEO Agent</a>







          <div class="nav-collapse nav-collapse-top">
           
        
            <ul class="nav  pull-right">
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Websites<span ></span> <b class="caret"></b></a>
              <ul class="dropdown-menu" data-bind="foreach: websites">
                  <li><a href="#" data-bind="click: $root.loadWebsite"> <span data-bind="text: websiteUrl"> </span></a></li>
 
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i><span >Members</span> <b class="caret"></b></a>
                <ul class="dropdown-menu" data-bind="foreach: members.list()">
                  <li><a href="#" data-bind="click : $root.loadMember"> <span data-bind="text: name"> </span>
                  <!-- ko if: ($root.userProfile.user().id == $data.id) -->

                      <span data-bind="text: $root.userProfile.notifications()" class="pull-right label"> </span>
                      <!-- /ko -->
                  </a></li>
 
             
                </ul>  
              </li>
            </ul>

     <ul class="nav full pull-right">
              <li class="dropdown user-avatar">

                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span>
                    <img class="menu-avatar" data-bind="attr:{src: userProfile.user().picture}"> <span data-bind="text: userProfile.user().name">J <i class="icon-caret-down"></i></span>
                    <span class="badge badge-dark-red" data-bind="text: $root.userProfile.notifications()"></span>
                  </span>
                </a>

                <ul class="dropdown-menu">

                  <!-- the first element is the one with the big avatar, add a with-image class to it -->

                  <li class="with-image">
                    <div class="avatar">
                      <img data-bind="attr:{src: userProfile.user().picture}">
                    </div>
                    <span data-bind="text: userProfile.user().name"></span>
                  </li>

                  <li class="divider"></li>

                  <li><a href="#"><i class="icon-user"></i> <span>Profile</span></a></li>
                  <li><a href="#"><i class="icon-cog"></i> <span>Settings</span></a></li>
                  <li><a href="#"><i class="icon-envelope"></i> <span>Messages</span> <span class="label label-dark-red pull-right" data-bind="text:  $root.userProfile.notifications()"></span></a></li>
                  <li><a href="#"><i class="icon-off"></i> <span>Logout</span></a></li>
                </ul>
              </li>
              </ul>

          </div>
      

    </div>
  </div>
</div>







              