<div class="container-fluid">
<div class="row-fluid">
{% include '/partials/breadcrumbs.html' %}
</div>
</div>
<div class="container-fluid padded">
<div id="dashboard" class="row-fluid dashboard-section">
{% include '/partials/chat-timeline.html' %}
{% include '/partials/chat.html' %}
</div> 
<div  id="progress" class="row-fluid dashboard-section">
{% include '/partials/sections/progress.html' %}
</div>
<div  id="reports" class="row-fluid dashboard-section">
{% include '/partials/sections/reports.html' %}
</div>
<div  id="administration" class="row-fluid dashboard-section">
</div>
</div> 
{% include '/partials/paymentModal.html' %}

