{% macro script(link) %}
<script type="text/javascript" src="{{base_js()}}{{link}}"></script>
{% endmacro %}
{% macro baseless_script(link) %}
<script type="text/javascript" src="{{link}}"></script>
{% endmacro %}
{% macro style(link, base, media) %}
<link href="{{ base_css() }}{{link}}" media="{{media | default('screen')}}" rel="stylesheet" type="text/css" />
{% endmacro %}
{% macro baseless_style(link, media) %}
<link href="{{link}}" media="{{media | default('screen')}}" rel="stylesheet" type="text/css" />
{% endmacro %}