.wizard {
    display:none;
}
.wizard-modal form {
	margin:0;
	padding:0;
}
.wizard-modal.modal {
	width:750px;
	margin-left:-375px;
	top:50%;
}
.wizard-modal-footer {
	padding: 0px;
	text-align:right;
}
.wizard-modal-header.modal-header h3 {
	line-height:35px;
	display:inline
}
.wizard-modal-header.modal-header {
	border-bottom: 0;
}

.wizard-subtitle {
	font-weight:bold;
	color: #AFAFAF;
	padding-left:20px;
}

.wizard-error,
.wizard-failure,
.wizard-success,
.wizard-loading,
.wizard-card {
	position:relative;
	padding:35px;
	padding-top:20px;
	overflow-y: auto;
	height:300px;
	display:none;
	border-top: 1px solid #EEE;
	margin-right: 5px;
}

.wizard-nav-link .icon-chevron-right {
	float: right;
	margin-top: 12px;
	margin-right: -6px;
	opacity: .25;
}

li.wizard-nav-item.active .icon-chevron-right {
	opacity: 1;
}

li.wizard-nav-item {
	line-height:40px;
}

.wizard-modal.modal .nav-list > li > a {
	background-color:#f5f5f5;
	padding: 3px 15px 3px 20px;
	cursor: default;
	color:#B4B4B4;
}

.wizard-modal.modal .nav-list li.active > a {
	background-color:#08C;
}

.wizard-modal.modal .nav-list > li.already-visited > a.wizard-nav-link {
	color: #08C;
	cursor: pointer;
}

.wizard-modal.modal .nav-list > li.active > a.wizard-nav-link {
	color:white;
}

.already-visited > a.wizard-nav-link:hover {
	background-color: #E4E4E4;
}

.wizard-card > h3 {
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 21px;
	line-height: 40px;
	font-weight: normal;
}

.wizard-progress {
	padding:15px;
	bottom:0;
}
.wizard-progress-container {
	padding:20px;
}

.wizard-steps {
	width:28%;
	height:425px;
	background-color:#f5f5f5;
}

.wizard-nav-container {
	height:360px;
}

.nav > li > a.wizard-step-error {
	background-color:#F2DEDE;
	color:#B94A48;
	font-weight:bold;
}

.wizard-step-error .icon-chevron-right {
	opacity: 0;
}

.wizard-input-section {
	margin-bottom:20px;
}

.wizard-buttons-container {
	padding:20px;
}

.wizard-modal .popover.error-popover {
	background-color:#F2DEDE;
	color:#B94A48;
	border-color:#953B39;
}

.wizard-modal .popover.error-popover .arrow::after {
	border-right-color:#F2DEDE;
}

.wizard-modal .popover.error-popover .popover-title {
	display:none;
}

.wizard-modal .popover.error-popover .arrow {
	border-right-color:#953B39;
}