<!--big normal buttons-->
<div class="action-nav-normal">

  <div class="row-fluid">
    <div class="span6 action-nav-button">
      <a href="#" title="New Project"  data-bind="click: loadDashboardPage.bind($data,'reports.html')">
        <i class="icon-file-alt"></i>
        
        <span>Reports</span>
      </a>
      <span class="triangle-button red"><i class="icon-plus"></i></span>
    </div>

    <div class="span6 action-nav-button">
      <a href="#" title="Messages"   data-bind="click: loadDashboardPage.bind($data,'messages.html')">
        <i class="icon-comments-alt"></i>
        <span>Messages</span>
      </a>
      <span class="label label-black">14</span>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span6 action-nav-button">
      <a href="#" title="Files" data-bind="click: loadDashboardPage.bind($data,'myreports.html')">
        <i class="icon-folder-open-alt"></i>
        <span>My Reports</span>
      </a>
    </div>

    <div class="span6 action-nav-button">
      <a href="#" title="Users">
        <i class="icon-user"></i>
        <span>Users</span>
      </a>
      <span class="triangle-button green"><span class="inner">+3</span></span>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span6 action-nav-button">
      <a href="#" title="Friends">
        <i class="icon-facebook-sign"></i>
        <span>Friends</span>
      </a>
    </div>

    <div class="span6 action-nav-button">
      <a href="#" title="Followers">
        <i class="icon-twitter"></i>
        <span>Followers</span>
      </a>
      <span class="triangle-button blue"><span class="inner">+8</span></span>
    </div>
  </div>

</div>