  <div class="span6">
    <div class="box">
      <div class="box-header">
        <div class="title">Full calendar</div>
      </div>

      <div class="box-content">
        <div id="calendar"></div>
      </div>
    </div>
  </div>