{% extends "layouts/no-sidebar.html" %}
{% block content %}
<div class="span4 offset4">
  <div class="padded">
    <div class="login box" style="margin-top: 80px;">

      <div class="box-header">
        <span class="title">Login With Google</span>
      </div>

      <div class="box-content padded">
        <form class="separate-sections">

     
        <a class="btn btn-blue btn-block" href="{{loginUrl}}">
                Login <i class="icon-signin"></i>
            </a>

        </form>

        <div>
      
        </div>
      </div>

    </div>

  
  </div>
</div>
{% endblock %}

